@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #d8d8d8;
}

@font-face {
  font-family: "UbuntuCondensed-Regular";
  src: url("/UbuntuCondensed-Regular.woff") format("woff"),
    url("/UbuntuCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "UbuntuCondensed-Regular";
  color: var(--foreground);
  background: var(--background);
  padding: 0;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  justify-content: center;
  z-index: 1;
}

@keyframes burger {
  0% {
    height: 0;
    margin-top: 200px;
  }

  100% {
    height: 312px;
    margin-top: 80px;
  }
}

.modal-container {
  overflow: hidden;
  text-align: left;
  padding: 26px;
  width: 200px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.6);
  background: rgb(31, 3, 3);
  color: aliceblue;
  z-index: 2;
  animation: burger 1s ease;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
}

.loader:before {
  content: "Loading...";
}
@keyframes l5 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }